{% extends 'base.html' %}

{% block title %}
Images list
{% endblock %}

{% block content %}

<h1>Images</h1>
<table class="datatable table table-striped table-bordered">
<thead>
    <tr>
        <th>ID</th>
        <th>Base image</th>
        <th>Repos/Tags</th>
        <th>Status</th>
        <th>Info</th>
        <th>Logs</th>
    </tr>
</thead>
<tbody>
{% for image in image_list %}
    <tr>
        <td><a href="{% url 'image/detail' image.hash %}">{{ image.hash }}</a></td>
        <td>{% if image.parent %}<a href="{% url 'image/detail' image.parent.hash %}">{{ image.parent.hash }}</a>{% endif %}</td>
        <td>{% for tag in image.tags %}{{ tag }} {% endfor %}</td>
        <td class="center success">{{ image.get_status }}</td>
        <td class="center">Packages: {{ image.rpms_count }}</td>
        <td class="center"><a href="#">show logs</a>	</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
