{% extends 'base.html' %}

{% block title %}
Task {{ task.id }}
{% endblock %}

{% block content %}

        <ul class="nav navbar-nav navbar-primary">
          <li class="active">
            <a href="tasks">Tasks</a>
          </li>
          <li>
            <a href="images">Images</a>
          </li>
          <li>
            <a href="new">Build a New Image</a>
          </li>
          <li>
            <a href="move">Move Image</a>
          </li>
        </ul><!-- /navbar-primary -->
      </div><!-- /navbar-collapse -->
    </nav><!-- /navigation -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="tasks">Tasks</a></li>
	    <li>Task {{ task.id }}</li>
          </ol><!-- /breadcrumb -->

<h1>Task Detail</h1>
<ul>
    <li>{{ task.get_status }}</li>
    <li>{{ task.get_type }}</li>
    <li><h4>Owner </h4>{{ task.owner }}</li>
    <li><h4>Started </h4>{{ task.date_started }}</li>
    <li><h4>Finished </h4>{{ task.date_finished }}</li>
    {% if task.image != nil  %}
    <li><h4>Image </h4><a href="{% url 'image/detail' task.image.hash %}">{{ task.image.hash }}</a></li>
    {% else %}
    <li>There is no image</li>
    {% endif %}
    <li><h4>Args</h4></li>
    <li><pre>{{ task.task_data|linebreaks }}</pre></li>
    {% if task.log %}
    <li><h4>Logs</h4></li>
    <li><pre>{{ task.log|linebreaks }}</pre></li>
    {% endif %}
    {% if task.task_lint != nil %}
    <li><h4>Dockerfile lint</h4>
    {{ task.task_lint|safe }}</li>
    {% endif %}
</ul>

{% endblock %}
