{% extends 'base.html' %}

{% block title %}
Task list
{% endblock %}

{% block content %}

        <ul class="nav navbar-nav navbar-primary">
          <li class="active">
            <a href="tasks">Tasks</a>
          </li>
          <li>
            <a href="images">Images</a>
          </li>
          <li>
            <a href="new">Build a New Image</a>
          </li>
          <li>
            <a href="move">Move Image</a>
          </li>
        </ul><!-- /navbar-primary -->
      </div><!-- /navbar-collapse -->
    </nav><!-- /navigation -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Tasks</li>
          </ol><!-- /breadcrumb -->

<h1>Tasks</h1>
<table class="datatable table table-striped table-bordered">
   <thead>
    <tr>
        <th>Status</th>
        <th>Type</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Image</th>
    </tr>
   </thead>
   <tbody>
    {% for task in task_list %}
    <tr>
        <td class="center success"><a href="{% url 'task/detail' task.id %}">{{ task.get_status }}</a></td>
        <td class="center">{{ task.get_type }}</td>
        <td>{{ task.date_started }}</td>
        <td>{{ task.date_finished }}</td>
        {% if task.image != nil  %}
        <td><a href="{% url 'image/detail' task.image.hash %}">{{ task.image.hash }}</a></td>
        {% else %}
        <td>There is no image</td>
        <!-- path 2 -->
        {% endif %}

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
